<%- include("partials/header_post"); -%>

    <h1 class = "post"><%=title%></h1>
    <br/>
    <div class = "image_post">
      <img src = "<%=image %>" alt = "Image representation of <%= title %>" />
    </div>
    <p style = "letter-spacing: 1px;font-size : 18px; font-family : Times New Roman;"><%=content%></p>

<%- include("partials/footer"); -%>
